body{
  background: url("background.jpg");
  background-size: cover;
  font-family: "Comic Sans MS";
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #4e82eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 26pt;
  box-shadow: 0 4px 8px 0 yellowgreen;
  margin: 1em;
  background: none;
  border-radius: 15px;
  color: rgb(73, 33, 33);
  user-select: none;
  font-style: bold;
 }

 .button {
  display: inline-block;
  text-align: center;
  width: 6em;
  font-size: 26pt;
  font-family: "Comic Sans MS";
  box-shadow: 0 4px 8px 0 rgb(250, 174, 244);
  margin: 1em;
  background: rgb(124, 209, 235);
  border-radius: 15px;
  color: rgb(68, 18, 18);
 }

 .activeCard {
  color:rgb(68, 22, 22);
  background: palevioletred;
  font-size: 26pt
 }
 #word {
   font-size: 28pt;
 }

 #title {
   font-size: 48pt;
   text-shadow: rgb(255, 252, 81) 0.1em 0.1em 0.1em;
 }

 #H2 {
  font-size: 26pt;
 }
